.THIS .red-color{
    color:#C61935;
    font-size:22px;
}
.THIS .slds-is-incomplete  {
    color: white;
    background-color: #D8D9DB;
}
.THIS .slds-path__nav .slds-is-complete {
    background-color: #D8D9DB;
}
.THIS .slds-path__nav .slds-is-active:first-child:before, .THIS .slds-path__nav .slds-is-active:first-child:after{
    background: #C61935;
}
.THIS .slds-path__item .slds-is-current, .THIS .slds-path__nav .slds-is-current {
    background: #C61935;
}
.THIS .slds-path__nav .slds-is-active:before{
    background: #C61935;
}
.THIS .slds-path__nav .slds-is-active:after{
    background: #C61935;
}
 
.THIS .slds-path__nav .slds-is-complete:before,.THIS .slds-path__nav .slds-is-complete:after {
    background: #D8D9DB;
}